@import "tailwindcss";

:root{
  --primary-color:#3a7bd5;
  --secondary-color:#00d2ff;
  --bg-color:#f4f7f6;
  --cardbg-color:#fff;
  --text-color:#00d2ff;

}

#meteo{
  animation: bg 5s linear infinite;
}

/* @keyframes bg {
  0%{ -webkit-background-clip:text;
       -webkit-text-fill-color: transparent;
    background: linear-gradient(to right,blue,white);}
    100%{ -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
    background: linear-gradient(to right,wite,blue);}
  
} */


/* 
#texte{
  white-space: nowrap;
  animation: defilement 15s linear infinite;
}

@keyframes defilement {
  0%{transform: translateX(0%);}
     100%{transform: translateX(-100%);}
  
} */

@keyframes slideRightFade {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeftFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-right {
  animation: slideRightFade 1s ease forwards;
}

.animate-left {
  animation: slideLeftFade 1s ease forwards;
  animation-delay: 0.5s; /* petit décalage stylé */
}